body {
background-color: yellow;
}
h1 {
    color: green; 
background-color: yellow;
font-family: Arial;
 text-align: center;
    font-size: 55px;
}
p {
 color: green; 
background-color: yellow;
font-family: Arial;
    text-align: center;
      font-size: 20px;
}
h3 {
 font-family: Arial;
    text-align: center;
    font-family: Arial;
    font-size: 40px;
}

   
